# Byte-compiled files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/

# Data files
data/*.csv
data/*.xlsx

# Model files
models/*.pt
models/*.pkl
models/*.h5

# Node modules (if React used)
frontend/node_modules/
